* {
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
  border-style: none;
  background-color: rgb(0, 0, 0, 0.75);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 11rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  margin-bottom: 2%;
  backdrop-filter: blur(2px);
}
.show {
  top: -7rem;
}
.hide {
  top: -14rem;
}

p,
h3 {
  color: black;
}

.header_h1 {
  font: bold 60px Poppins, sans-serif;
  background-image: linear-gradient(360deg, rgb(0, 0, 0), rgb(243, 235, 235));
  color: transparent;
  margin: 0 35% 10px 35%;
  background-clip: text;
}
.header_h1:hover {
  cursor: pointer;
}

.header_p {
  color: white;
  margin-bottom: 10px;
}

#search-bar {
  display: flex;
  justify-content: center;
}

#search-bar-label {
  color: white;
  padding-top: 5px;
  padding-right: 10px;
}

#search-bar-input {
  padding: 5px;
  border-style: none;
  border-radius: 25px;
}

#search-bar-btn {
  padding-bottom: 3px;
  font-size: 20px;
  background-color: transparent;
  border-style: none;
  color: white;
  margin-left: 5px;
}
#search-bar-btn:hover {
  cursor: pointer;
  color: rgb(146, 143, 143);
}
.loadingMovies {
  margin: 30% 50%;
}
.filterDescription {
  text-align: center;
}
.moviesContainer {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 500px 500px 500px 500px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 0 100px 100px 100px;
}
.movie__div {
  border: rgb(146, 143, 143);
  height: 430px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  transition: 0.2s;
  border-radius: 4px;
}
.movie__div:hover {
  box-shadow: 3px 2px 5px rgb(0, 0, 0, 0.5);
  scale: 1.07;
  cursor: pointer;
}
.movie_div-descriptionToCenter {
  text-align: center;
}

.singleMovie_grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 6px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.singleMovie_img {
  margin-top: 20%;
  height: 120%;
  grid-row: 1;
  grid-column: 1;
}
.singleMovie_h1 {
  align-self: start;
  grid-row: 1;
  grid-column: 2;
}
.singleMovieDescription {
  grid-row: 1;
  grid-column: 2;
  width: 75%;
}
.singleMovieDirector {
  grid-row: 1;
  grid-column: 3;
  align-self: baseline;
}
.backLink__singleMovieComp {
  grid-row: 2;
  grid-column: 1;
  margin-top: 50px;
}
